<mat-toolbar class="header"  >
    <mat-toolbar-row>
      <h1>Falcon Investments</h1>
      <span class="menu-spacer"></span>
      <div class="menu-buttons">
        <a mat-button routerLink="/etfs"> ETFs</a>
        <a mat-button routerLink="/news"> news</a>
        <a mat-button routerLink="/dashboard"> Dashboard</a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span style="font-size: 12px;">Falcon Investments will help with your future</span>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

