.menu-spacer {
    flex: 1 1 auto;
}

.mat-button {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.mat-button:hover {
    color: white;
}

.header {
    background-color: #064635;
}

mat-toolbar{
    margin-bottom: 1rem;
}